/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 28 oct. 2016, 23:33:26
    Author     : Lucas
*/

.container{
    max-width: 1024px;
}

.jumbotron{
    padding: 100px 25px;
}

.btn-static {
  background-color: white;
  border: 1px solid lightgrey;
  cursor: default;
}
.btn-static:active {
  -moz-box-shadow:    inset 0 0 0px white;
  -webkit-box-shadow: inset 0 0 0px white;
  box-shadow:         inset 0 0 0px white;
}

.form-switch{}

.form-switch .front{}

.form-switch .back{
    display: none;
}

.form-switch .btn-switch{}

.select-selectize-createEnable{}

.select-selectize-createDisable{}

